# IDE
.idea/
.vscode/

# venv
.venv/

# local workspace (érzékeny/nagy fájlok ide)
local/

# Python build/cache
__pycache__/
*.pyc

# binárisok / irodai fájlok (ne kerüljenek a publikus repóba)
*.ppt
*.pptx
*.pdf
*.xls
*.xlsx
*.csv
*.png
*.jpg
*.jpeg
*.webp
*.tiff
*.gif
*.ttf
*.otf
*.woff
*.woff2

# env
.env

# macOS
.DS_Store
